<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="navbar-brand">Biblioteca</h1>
	<link rel="stylesheet" href="Libro.css">
  <br>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Opciones
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" display="flex" href="/login" class="btn btn-primary">Login</a></li>
      <li><a class="dropdown-item" href="/register" class="btn btn-primary">Register</a></li>
    </ul>
  </div>
</nav>










