<div class="row justify-content-md-center">
    <div class="col-md-4">
        {{#if message}}
            <div class="alert {{messageClass}}">
                {{message}}
            </div>
        {{/if}}
        <form action="/register" method="POST">
            <div class="form-group">
                ID del libro
                <input type="text" name="IDlibro" id="" class="form-control">
            </div>
            <div class="form-group">
                Titulo del Libro
                <input type="text" name="TituloLibro" id="" class="form-control">
            </div>
            <div class="form-group">
                Primer nombre del autor
                <input type="text" name="NameAutor" id="" class="form-control">
            </div>
            <div class="form-group">
                Apellido del autor
                <input type="text" name="ApellidoAutor" id="" class="form-control">
            </div>
            <div class="form-group">
                Puntuacion del libro
                <input type="text" name="Rating" id="" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>